@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

html {
	scroll-snap-type: y mandatory;
}

.custom-container {
	@apply max-w-[1320px] w-full m-auto px-24 max-lg:px-14 max-md:px-5;
}

.swiper-slide {
	height: auto !important;
}

@import "/styles/employees.scss";
